* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  color: black;
}

h1, h2, h3, h4 {
  font-family: "Aleo", 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #0f233f;
}

h1, a {
  color: white;
}

hr {
  border-color: #73ad4b;
  background-color: #73ad4b;
  height: 2px;
  opacity: 1;
}

a {
  text-decoration: none;
}

.header {
  margin-bottom: 1rem;
  padding: 0;
}

.footer {
  color: white;
  background-color: #0f233f;
  border-top: 0.25rem solid #73ad4b;
}

.text-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.title-box {
  padding-left: 0;
  padding-right: 0;
}

.page-title {
  background-color: #0f233f;
  padding: 1.5rem 1rem;
}

.sidenav {
  background-color: rgb(51, 51, 51, 0.35);
  margin-top: 3rem;
}

.sidenav h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.sidenav a {
  color: #0f233f;
  font-weight: bold;
  text-decoration: none;
}

.sidenav a:hover {
  text-decoration: underline;
}

.mb-caption {
  margin-bottom: 1.25rem;
}

#police-office, #police-lights, #crime-table {
  width: 100%;
}

#call-priorities-section {
  background-color: #0f233f;
  border-radius: 0.75rem;
  margin-left: 0;
  margin-right: 0;
}

.card-container {
  position: relative;
  height: 325px;
  perspective: 1000px;
  margin-bottom: 1rem;
}

.graph-labels {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  margin-left: 0.25rem;
}

.card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-front {
  backface-visibility: hidden;
}

.card-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-container.hover .card {
  transform: rotateY(180deg);
}

.card-header {
  background-color: yellowgreen;
  height: 100px;
}

#call-priorities-section .intro * {
  text-align: center;
  padding-top: 1rem;
  color: white;
}

#call-priorities-section .intro h3 {
  margin-bottom: 0;
}

.card-front h4 {
  font-size: 1.8rem;
}

.card-back h4 {
  font-size: 1.25rem;
}

blockquote {
  background-color: #eee;
  padding: 0.5rem 1rem;
}

.article-link {
  color: #0f233f;
  font-weight: bold;
  text-decoration: underline;
}

#sources a {
  color: black;
  text-decoration: underline;
}

#body-sidenav {
  display: none;
}

.note-box p {
  margin: 0;
}

.accordion p {
  margin: 0;
}

.accordion a {
  display: block;
  padding-bottom: 0.5rem;
}

.accordion li {
  margin-bottom: 1rem;
}

img {
  margin-bottom: 0.5rem;
}

.sidenav-header {
  background-color: yellowgreen;
}

@media (min-width: 576px) {
  .card-container {
    height: 275px;
  }
}

@media (min-width: 768px) {
  .title-box {
    background:
      linear-gradient(rgba(15, 35, 63, 0.75), rgba(15, 35, 63, 0.75)),
      url("img/seattle.jpg");
    background-size: cover;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .page-title {
    background-color: transparent;
    text-align: center;
  }
  
  .text-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #call-priorities-section {
    margin-left: 0;
  }

  .card-container {
    height: 325px;
  }
}

@media (min-width: 992px) {
  .header {
    margin-bottom: 1.5rem;
  }

  #authors {
    margin-bottom: 1.5rem;
  }

  .text-content{
    padding-left: 6vw;
    padding-right: 6vw;
  }
  
  #body-text {
    padding-right: 2rem;
  }

  #body-sidenav {
    display: block;
  }

  blockquote {
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  .title-box {
    background:
      linear-gradient(rgba(15, 35, 63, 0.75), rgba(15, 35, 63, 0.75)),
      url("img/seattle-lg.jpg");
  }
}

@media (min-width: 1400px) { 
  .text-content {
    padding-left: 12vw;
    padding-right: 12vw;
  }

  #police-office, #police-lights {
    width: 80%;
  }

  .card-container {
    margin: 1rem 0rem;
    height: 450px
  }

  .card-col {
    padding: 0.4rem;
  }
}