/* Reset padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 64px 32px; */
  color: black;
  font: 18px/1.5 "DM Sans", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Aleo", sans-serif;
  font-weight: bold;
}

h1 {
  color: white;
}

.header {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #0f233f;
  border-top: 0.25rem solid #73ad4b;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.title-box {
  padding-left: 0;
  padding-right: 0;
}

.page-title {
  background-color: #0f233f;
  padding: 1.5rem 1rem;
}

@media (min-width: 768px) {
  .title-box {
    background:
      linear-gradient(rgba(15, 35, 63, 0.75), rgba(15, 35, 63, 0.75)),
      url("img/seattle.jpg");
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  .page-title {
    background-color: transparent;
    text-align: center;
  }
}


@media (min-width: 1200px) {
  .title-box {
    background:
      linear-gradient(rgba(15, 35, 63, 0.75), rgba(15, 35, 63, 0.75)),
      url("img/seattle-lg.jpg");
  }
}